<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h3>Listado de Pagos</h3>
</div>

<div class="row text-end">
  <div class="col">
    <button class="btn btn-primary" routerLink="/pagos/registrar">
      <i class="fas fa-cash-register"></i>
      Gestionar Pagos
    </button>
  </div>
</div>


<table
       class="table mt-5">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombres</th>
    <th scope="col">Codigo</th>
    <th scope="col">descripción</th>
    <th scope="col">precio de compra</th>
    <th scope="col">precio de venta</th>
    <th scope="col">fecha Actualizar</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button class="btn btn-warning m-2">
        <i class="fas fa-user-edit"></i>
      </button>
      <button class="btn btn-danger">
        <i class="fas fa-user-minus"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>



